#wallet-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(45,47,72);
  color: white;
}

#total-container {
  display: flex;
}

#email-container {
  display: flex;
}

.field-title {
  margin-right: 5px;
}