#login-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 25%;
  height: 50%;
  background-color: white;
}

#login-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;
}

.login-input {
  width: 75%;
  height: 40px;
  border-radius: 5px;
}

#login-button {
  width: 75%;
  height: 40px;
  background-color: rgb(6 158 111);
  border-radius: 5px;
  color: white;
}

#login-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

#money-img {
  width: 40%;
}